/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
   --color: #D2B4DE;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

.todo{
    background-color: var(--cor-de-fundo);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/******************** HEADER***************************/
.menu{
    display: flex;
    padding: 32px 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.menu__header{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}
/* .menu__header i{

    height: 24px;
    width: 24px;

} */
.menu__title{
    text-shadow: 0 0 8px #d2b4;
}
.menu__list{
    display: flex;
    margin: 0 0 0 14px;
    flex-direction: row;
    gap: 32px;
}
.menu__list__item{
    display: flex;
    justify-content: space-around;
    
}
.menu__list__item a{
    transition: .3s;
}
.menu__list__item a:hover{
    color: #9B59B6;
    font-size: 18px;
    text-shadow: 0 0 8px #d2b4;
}
.menu__list__item:last-child{
    font-weight: 700;
}


/********************FIN HEADER********************/

/******************** TITLE ********************/
.title{
    display: flex;
    justify-content: center;
    /* gap: 200px; */
    margin-bottom: 50px;
    width: 100%;
}
.title__div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    /* max-width: 80%; */
}
.title__profile{
    display: flex;
    order: 1;
    
}
.title__container{
    /* display: flex;
    flex-direction: column;
    text-align: left; */
    color: #4A235A;
}  
.title__profile
{
    display: flex;
    order: 1;
    max-width: 50%;
    max-height: 70%;
    border-radius: 500px;

}
.title__profile
{
    display: flex;
    order: 1;
    max-width: 50%;
    max-height: 70%;
    border-radius: 50%;

}
.title__bio{
    font-weight: 700;
    font-size: 52px;
    /* line-height: 61px;
    margin-bottom: 0; */
}
.title__subsection{
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0;
}
.title__subsection2{
    font-size: 18px;
    font-weight: 400;
    line-height: 6px;
    margin: 0 0 24px 0;
}
.title__network{
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 32px;    
}
.title__network__item{
    
    font-size: 15px;
}
.title__network__item a:hover{
    color: #9B59B6;
}

 .title__network__item a i{
    
    font-size: 26px;
}

/********************FIN TITLE********************/

/*Sección About*/


.about{
    background-color: var(--color);
    display: flex;
    justify-content: center;    
    align-items: center;
    padding: 55px 0px;
    width: 100%;
}
.about__container{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: flex-start;
    padding: 0;
} 
.about__title{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px; 
}
.about__paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    max-width: 60%; 
} 
.about__container img{
    width: 140px;
    height: 52px;
}

/*Sección skills*/

.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 32px;    
    width: 100vw;
    margin: 5% 0 3% 0;
}

.skills__title{
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    line-height: 38px;
    color: #464646;
}
.skills__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    width: 80%;
}
.skills__box{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
    width: 12%;
    min-width: 115px;
    height: 125px;
	text-align: center;
	transition: .3s;
	box-shadow: 2px 2px 2px #CCC;
	position: relative;
    cursor: pointer;
    border-radius: 12px;
}
.skills__box:hover{
    box-shadow: 4px 4px 4px var(--color);
}
.skills__box ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 10px;
    margin: 0;
}
.skills__img{
    display: flex;
    justify-content: flex-start;
    padding: 0;
    gap: 0;
}
.fa-html5, .fa-square-js, .fa-git-alt, .fa-mobile-screen, .fa-css3-alt, .fa-laptop{
    display: flex;
    padding: 12px 0 ;
    justify-content: flex-start;
    color:#9B59B6;
}

.skills__name{
    font-weight: 700;
    font-size: 16px;
}
/******SOFT SKILLS********/
.soft__skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 32px;    
    width: 100vw;
    margin: 5% 0 3% 0;
}

.soft__skills__title{
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    line-height: 38px;
    color: #464646;
}
.soft__skills__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    width: 80%;
}
.soft__skills__box{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
    width: 12%;
    min-width: 115px;
    height: 125px;
	text-align: center;
	transition: .3s;
	box-shadow: 2px 2px 2px #CCC;
	position: relative;
    cursor: pointer;
    border-radius: 12px;
}
.soft__skills__box:hover{
    box-shadow: 4px 4px 4px var(--color);
}
.soft__skills__box ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 10px;
    margin: 0;
}
.soft__skills__img{
    display: flex;
    justify-content: flex-start;
    padding: 0;
    gap: 0;
}
.fa-heart, .fa-users-viewfinder, .fa-people-group, .fa-comments, .fa-resolving, .fa-star{
    display: flex;
    padding: 12px 0 ;
    justify-content: flex-start;
    color: #9B59B6;
}
.fa-users-rectangle{
    display: flex;
    padding: 12px 0;
    justify-content: flex-start;
}
.soft__skills__name{
    font-weight: 700;
    font-size: 16px;
}

/*********HOBBIES**********/
.hobbies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 32px;    
    width: 100vw;
    margin: 0 0 5% 0;
}
.hobbies__title{
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    line-height: 38px;
    color: #464646;
}
.hobbies__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    width: 80%;
}
.hobbies__box{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
    width: 12%;
    min-width: 115px;
    height: 125px;
	text-align: center;
	transition: .3s;
	box-shadow: 2px 2px 2px #CCC;
	position: relative;
    cursor: pointer;
    border-radius: 12px;
    
}
.hobbies__box:hover{
    box-shadow: 4px 4px 4px var(--color);
}
.hobbies__box ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 10px;
    margin: 0;
}
.hobbies__img{
    display: flex;
    justify-content: flex-start;
    padding: 0;
    gap: 0;

    /* text-align: center; */
}
.fa-book-open-reader, .fa-language, .fa-kitchen-set, .fa-gamepad, .fa-headphones, .fa-tv{
    display: flex;
    padding: 12px 0 ;
    justify-content: flex-start;
    color: #9B59B6;
}
.hobbies__name{
    font-weight: 700;
    font-size: 16px;
}

/************************ Experiencia Académica**********************/

.academic{
    background-color: var(--color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 82px; */
    /* gap: 32px;     */
    width: 100%;
}
.academic__title{
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    line-height: 38px;
    color: #464646;
}
.academic__courses{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-direction: row; */
    justify-content: space-between; 
    gap: 2.389%;
    width: 80%;
}
.academic__courses__box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 0;
    align-items: center;
    margin:0;
    /* gap: 10px; */
    /* width: 35%;
    background-color: aquamarine; */
    /* justify-content: space-between;  */
}
.academic__courses__list{
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start; */
    padding: 0;
    /* gap: 8px; */
}
.academic__courses__item__img{
    padding: 60px 85px;/**/
    /* margin: 0; */
    gap: 25px; 
    background: #ffffff;
    border-radius: 12px;
    /* max-width: 190px;*/
    max-height: 130px; 
    align-items: center;
    /* width: 100%;
    height: 130px; */
}
.img1 img{
    display: flex;
    max-width: 190px;
    max-height: 130px;
    width: 174px;
    padding: 38px 10px 46px 6px;
}
.img2 img{
    display: flex;
    max-width: 190px;
    max-height: 130px;
    width: 174px;
    height:130px;
    padding: 5px 10px 0.9px 6px;
}
.academic__courses__item__title{
    margin-top: 10px;
    font-weight: 700;
    font-size: 22px;
}
.academic__courses__item__title h4{
    margin: 0;
}
.academic__courses__item__subtitle{
    margin-top: 20px;
    display: flex;
    margin: 0;
}
.academic__courses__item__subtitle p{
    margin: 0;
}
/* experiencia*/

.experience{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}
.experience__section__title{
    font-size: 32px;
    color: var(--preto-100, #464646);
    text-align: center;
    font-weight: 700;
    gap: 16px;
    margin: 32px 0px 8px;
}
.experience__box{
    display: flex;
    width: 80%;
    gap: 32px;
    padding: 2%;
    /*justify-content: space-between; */
    align-items: center;
}
.experience__img{
    display: flex;
    align-self: stretch;
    flex-shrink: 0;
    width: 69%;
}


.derecha{
    order:1;
}

.experience__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 30%;
    flex: 1 0 0;
}
.experience__title{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    font-size: 22px;
    font-weight: 700;
    gap: 8px;
    margin: 0;
}
.experience__text{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}
.experience__description{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
}
.experience__repo{
    border: 1px solid #9B59B6;
    box-shadow: 2px 2px 2px #CCC;
    transition: .3s;
    
}
.experience__repo:hover{
    box-shadow: 2px 2px 2px #CCC;
    transform: scale(1.01);
}
.experience__demo{
    box-shadow: 2px 2px 2px #CCC;
    transition: .3s;
}

.experience__boton{
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #9B59B6;
    border: 1px solid var(--azul-100, #9B59B6);
    
    font-size: 18px;
    font-weight: bold;
    border: none;
    /* border-radius: 5px; */
    transition: 1s all;
    cursor: pointer;
}

.experience__boton2{
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--azul-100, #9B59B6);
    color: white;

    font-size: 18px;
    font-weight: bold;
    border: none;
    /* border-radius: 5px; */
    transition: 1s all;
    cursor: pointer;
}
.experience__demo:hover{
    
    transform: scale(1.1);
}
/*Contacto*/

.formcontato{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color) ;
    width: 100%;
    padding: 64px 0px;
}
.formcontato__contacto{
    display: flex;
    width: 80%;
    max-width: 80%;
    padding: 64px 0px 0px 0px;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
}
.formcontato__izquierda{
    display: flex;
    justify-content: flex-start;
}

.formcontato__img{
    min-width: 324px;
    min-height: 440px;
    width: 100%;
    height: 100%;
}
.formcontato__text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    gap: 24px;
}
.formcontato__title{
    display: flex;
    color: var(--preto-100, #464646);
    font-size: 32px;
    font-family: Raleway;
    font-weight: 700;
    margin: 0;
    line-height: 0;
    margin-bottom: 10px;

}
.formcontato__subtext{
    display: flex;
    width: 650px;
    flex-direction: column;
    color: var(--preto-100, #464646);
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    line-height: 0;
}
.formcontato__form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    align-self: stretch;
}
form label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.formcontato__input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    padding: 6px;
    align-self: stretch;
    width: 98.5%;
    height: 40px;
    border: 0;
    box-shadow: 2px 2px 2px #CCC;
    border-radius: 8px;
/* 
    padding: 10px 25px; */
}
.formcontato__textarea{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: stretch;
    width: 100%;/*98%*/
    border: 0;
    height: 160px;
    box-shadow: 2px 2px 2px #CCC;
    border-radius: 8px;
    resize: none;
    margin-bottom: 10px;
}
.formcontato__input:hover, .formcontato__textarea:hover{
    /* text-emphasis-color: #2a7ae4; */
    color: #9B59B6;
    box-shadow: 2px 2px 2px #9B59B6 ;
}
.formcontato__input:focus, .formcontato__textarea:focus{
    /* border-color: #2a7ae4; */
    box-shadow: 4px 4px 4px var(--color);
    color: var(--color);
    outline: none;
}

.formcontato__boton{
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--azul-100, #9B59B6);
    color: white;

    width: 40%;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}
.formcontato__boton:hover{
    transform: scale(1.1);
}
/*footeer*/

.footer{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 32px;
    line-height: 5px;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/
}