/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

.todo{
    background-color: var(--cor-de-fundo);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
}

/******************** HEADER***************************/
.menu{
    background-color: aqua;
    display: flex;
    padding: 32px 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.menu__header{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}
.menu__header img{

    height: 24px;
    width: 24px;

}
.menu__list{
    display: flex;
    margin: 0 0 0 14px;
    flex-direction: row;
    gap: 32px;
}
.menu__list__item{
    display: flex;
    justify-content: space-around;
}
.menu__list__item:last-child{
    font-weight: 700;
}
/********************FIN HEADER********************/

/******************** TITLE ********************/
.title{
    display: flex;
    justify-content: center;
    background-color: red;
}
.title__div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    align-items: center;
    background-color: blueviolet;
}
.title__profile{
    display: flex;
    order: 1;
    
}
.title__container{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.title__bio{
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    margin-bottom: 0;
}
.title__subsection{
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0;
}
.title__network{
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 32px;    
}

/********************FIN TITLE********************/

/*Sección About*/


.about{
    display: flex;
    justify-content: center;    
    background-color: coral;
    align-items: center;
    padding: 55px 0px;
}
.about__container{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: flex-start;
    padding: 0;
} 
.about__title{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px; 
}
.about__paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    max-width: 60%; 
} 
.about__container img{
    width: 140px;
    height: 52px;
}

/*Sección Hobbies*/

.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 32px;    
    width: 80vw;
}

.skills__title{
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    line-height: 38px;
    color: #464646;
}
.skills__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
}
.skills__box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
    width: 12%;
    min-width: 115px;
    height: 125px;
	text-align: center;
	transition: .3s;
	box-shadow: 2px 2px 2px #CCC;
	position: relative;
    cursor: pointer;
    
}
.skills__box:hover{
    box-shadow: 4px 4px 4px #ccc;
}
.skills__box ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 10px;
    margin: 0;
}
.skills__img{
    display: flex;
    justify-content: flex-start;
    padding: 0;
    gap: 0;

    /* text-align: center; */
}
.skills__name{

}

/* Experiencia Académica*/

section.academic{

}

/* experiencia*/

section.experience{

}

/*Contacto*/

section.formcontato{

}

/*footeer*/

section.footer{
   
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}